<div class="row" id="title-row">
  <%= render 'layouts/static_pages/header' %>
</div>
<div class="row row-spacer" id="spacer-row">
</div>
<div class="row" id="about-row">
  <%= render 'layouts/static_pages/about' %>
</div>
<div class="row row-spacer" id="spacer-row">
<%= link_to"Back to Top", "#title-row"%>
</div>
<div class="row" id="tutorials-row">
  <%= render 'layouts/static_pages/tutorial' %>
</div>
<div class="row row-spacer" id="spacer-row">
<%= link_to"Back to Top", "#title-row"%>
</div>
<div class="row" id="contact-row">
  <%= render 'layouts/static_pages/contact' %> 
</div>
<div class="row row-spacer" id="spacer-row">
<%= link_to"Back to Top", "#title-row"%>
</div>
