<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12 row-header">
      <h2>Contact</h2>  
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 row-content">
      <div class="row">
        <div class="col-lg-6">
          <p>
           Redroid consists of 4 team members pursuing bachelor's degrees in Computer Science at the University of Utah. Ordered from left to right are...
          </p>
          <ol>
            <li>
              <b>Matt Madden</b>
                <ul>
                  <li><%= mail_to("themattmadden@gmail.com", "themattmadden@gmail.com") %></li>
                </ul>
            </li>
            <li>
              <b>Greg Smith</b>
                <ul>
                  <li><%= mail_to("greg@gregrsmith.com", "greg@gregrsmith.com") %></li>
                </ul>
            </li>
            <li>
              <b>Derek Johnson</b>
                <ul>
                  <li><%= mail_to("derek.johnson@hsc.utah.edu", "derek.johnson@hsc.utah.edu") %></li>
                </ul>
            </li>
            <li>
              <b>Scott Wells</b>
                <ul>
                  <li><%= mail_to("mail@scottwells.me", "mail@scottwells.me") %></li>
                </ul>
            </li>
          </ol>
        </div>
        <div class="col-lg-6">
          <%= image_tag "redroid_team.jpg", id: "team-image" %>
        </div>
      </div>
    </div>
  </div>
</div>