<div id="video-table">
  <table class="table">
    <thead class="success">
      <th>
        Video Name:
      </th>
      <th>
        Size:
      </th>
    </thead>
      <% @videos.each do |video| %>
      <tr>
          <td class= "video-title">
            <%= video[:name] %>
          </td>
          <td>
            <%= video[:size].to_s %> MB
          </td>
          <td>
          <%= link_to image_tag("delete_icon.png", id: 'delete-img', size: '30x30'), delete_path(device: "#{locals[:deviceid]}", file: video[:name]), data: { confirm: "Delete video #{video[:name]}?" }, method: :delete %>
          </td>
          <td>
          <%= link_to image_tag("download_icon.png", id: 'download-img', size: '30x30'), download_path(device: "#{locals[:deviceid]}", file: video[:name], target: "_self") %>
          </td>
          <td>
          <%= image_tag("down_arrow_hover.png", id: 'expand-img', size: '30x30', class: 'rotate-image') %>
          </td>
      </tr>
      <tr class="hidden-video" id="<%= video[:name] %>">
        <td>
        </td>
      </tr>
      <% end %>
  </table>
</div>