<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Redroid</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/x-icon" href=<%= asset_path 'favicon.ico' %> />
  </head>
  <body id="index-body">
    <%= yield %>
  </body>
  <script type="text/javascript">
    $('a[href*=\\#]').on('click', function(event){     
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
    });
  </script>
</html>
